<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>playlist</ion-title>
      <ion-buttons slot="start">
          <ion-back-button default-href="/menu" mode="md">ft</ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
     @for(item of itemSong; track item){
    <div class="contain">
  
        <div class="imag"[style.background-image]="'url('+ item?.image +')'"></div>
        <div class="abut">
          <div class="ko">
              <h1 class="text1">{{item?.name}}</h1>
          <p class="text2">{{item?.song}}</p>
         
          </div>
          <ion-icon name="ellipsis-Vertical"  (click)="this.alertService.presentActionSheet(item?.id)"></ion-icon>
     

          <!-- (click)="this.dataService.deletePlaylist(item?.id)" -->
        
        </div>
     </div>
  }

   
  
</ion-content>
