   body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color:#121212;
        }
        .container {
            text-align: center;
            padding: 30px;
            background:#121212;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 100%;
            height: 70%;
            margin:50px auto;
    
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        h1 {
            color:#F8F8F8;
        }
        .showError{

        height:200px;
        justify-content: center;
        align-items: center;

        }
        .bg{
          

        }
        .text{
       color:red;
        h1{
            color:#f45757;
        }
        }
        ion-toolbar{
            --background: #121212;
        }
        .checkmark {
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }
       
        button {
            background-color:#1E90FF;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
            text-decoration: none;
            display: inline-block;
        }
        p{
            color:black;
        }

        .showVerify{
        height:200px;
        justify-content: center;
        align-items: center;


        }
        .bgi{

        }
         .tet{
  
        h1{
            color:#62fa8d;
        }
         }