

<ion-content>
    <div class="about">
        <div class="up">
               <ion-buttons slot="start">
          <ion-back-button default-href="/info" mode="md">ft</ion-back-button>
        </ion-buttons>

            <marquee behaviour="slide" direction="left">About damn time mp3
            </marquee>
        </div>

    <p class="name">Lizzo</p>
    </div>

    <div class="disk">
        <div class="image">

        </div>

    </div>
    <div class="features"></div>

    <div class="measure">
        
    </div>
    <div class="controls"></div>
    


</ion-content>
