/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import "@ionic/angular/css/palettes/dark.always.css"; 
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: sans-serif;
}

body{
    font-family: sans-serif;
}


   .signup-alert {
  // --background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  --color: white;
  
  .alert-wrapper {
    border-radius: 20px;

  }
  
  .alert-title {
    color: white;
    font-weight: bold;
  }
  
  .alert-button {
    color: white;
    border-top: 1px solid rgba(255,255,255,0.3);
  }
}

// /* In your global.scss */
// ion-alert {
//   --background: #f4f4f4;
//   --button-color: #3880ff;
//   --color: #333;
 
  
//  
//   .alert.message{
//     background-color: red;
//   }
// }
// .alert-confirm-btn{
//   background-color: red;

// }
//  .alert-head {
//     background-color: var(--ion-color-primary);
//     color: white;
//     width:300px;
//     height: 200px;
//     background-image: url('/assets/6lack.jpeg');
//     background-position: center;
//     background-size: cover;
//   }
//    .alert-message {
//     color: white;
//     font-size:30px;
//     width:300px;
//     height: 200px;

//   }
