<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <body>
    <div class="container">
       <div class="holder">
      
        <img src="assets/fine.png" alt="a gril with headphone
      ">
      <div class="black">

      </div>
     
    </div>
    <p class=" fan">Thousands Of Podcast And Great Music You will  Love</p>
    <button class="cta" (click)="this.dataService.goToLogin($event)" >
      Get Started
    </button>


    </div>
   
  </body>
 




